.card-shadow{
  box-shadow: 2px 2px 8px rgba(0, 0, 0,0.3);
}

.bg-cover{
	background-size: cover;
	background-position: center center;
}

.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
}

.bg-gray {
  background-color: #e3e3e7;
}

.checkbox-1x {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.checkbox-2x {
  transform: scale(2);
  -webkit-transform: scale(2);
}

.border-light-gray {
  border:1px solid rgba(0,0,0,.125);
}

.dropdown-menu-center {
  position: absolute;
  top: 75px;
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.card-button:hover{
  box-shadow: 2px 2px 8px rgba(0, 0, 0,0.3);
}

.card-button:active{
  background-color: #f8f9fa;
}